@model IEnumerable<LabBigSchool_TranDinhBao.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DataTime - @course.Lecturer.Name
            </li>
        }
    </ul>
</div>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DataTime.ToString("MM")
                </div> <div class="day">
                    @course.DataTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
                <button data-cource-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
    $(document).ready(function() {
        $(".js-toggle-attendace").click(function (e) {
            var button = $(e.target);
            $.post("/api/attendances", { courseId: button.attr("data-cource-id") })
                .done(function() {
                button
                    .removeClass("btn-default")
                    .addClass("btn-info")
                    .text("Going");
            })
            .fail(function () {
                alert("Something failed!");
            });
        });
        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                })
                .fail(function () {
                    alert("Something failed");
                });
        });
    });
    </script>
}

